@font-face {
    font-family: "Imperial Normal 500";
    src: url("fonts/imperial-normal-500.woff2") format("woff2");
}

@font-face {
    font-family: "Minimal Mono Bold";
    src: url("fonts/minimal-mono-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Neuve-SBI";
    src: url("fonts/nm-sbi.woff2") format("woff2");
}


@keyframes letter-spacing {
    60% {letter-spacing: 0.015em;}
}

@keyframes letter-spacing-2 {
    60% {letter-spacing: 0.04em;}
}

@keyframes slide {
    100% { left: 0; }
}

* {
    box-sizing: border-box;
    cursor:crosshair;
}

body {
    margin: 0px;
    overflow-x: hidden;
    
}

article{
    position: relative;
    max-width: 85%;
    margin: 0px auto;
}


nav {
    display: flex;
    
}

nav p {
    font-family: "Minimal Mono";
    font-size: 1em;
    margin-left: 2%;
    z-index: 10;
}

a:link {
    color: black;
    text-decoration: none;
    cursor: cell;
}

a:visited {
    color: black;
    text-decoration: none;
    cursor: cell;
}

.issue {
    position: absolute;
    left: 0%;
    cursor: cell;
}


h1 {
    font-family: "Minimal Mono Bold";
    line-height: 1.2em;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 10.5vw;
    padding: 0px;
    margin: 0px;
    left: -5%;
    animation: letter-spacing-2 4s infinite;
    letter-spacing: 0.014em;
    word-spacing: 10%;

}

h2 {
    font-family: "Minimal Mono Bold";
    font-size: 4em;
    text-align: justify;
    letter-spacing: 0.04em;
    animation: h2 4s infinite;
}

p {
    font-family: "Imperial Normal 500";
    font-size: 1.6em;
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 1.2em;
}

u {
    border-bottom: black dotted 2px;
    text-decoration: none;
}

.p_left {
    max-width: 50%;
    margin-bottom: 0px;
}

.p_right {
    max-width: 50%;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.flex {
    display: flex;
    position: relative;
}


.mid_title {
    max-width: 100%;
    font-size: 2.1em;
    margin-left: 4px;
    text-align: justify;
    text-align-last: left;
    letter-spacing: 0.5px;
}

.hollow {
    color: white;
    -webkit-text-stroke: 1px black;
}

.clicks {
    color: white;
    background-color: black;
    cursor: cell;
}

.notes {
    font-family: "Imperial Normal 500";
    display: none;
    position: absolute;
    line-height: 1.2em ;
    font-size: 1.2em;
    width: 40%;
    right: 3%;
    top: 65%;
    text-decoration: underline red;

}

.notes_left {
    font-family: "Imperial Normal 500";
    display: none;
    position: absolute;
    line-height: 1.2em ;
    font-size: 1.2em;
    width: 40%;
    left: 5%;
    top: 50%;
    text-decoration: underline red;

}


.notes_img {
    font-family: "Imperial Normal 500";
    display: none;
    position: absolute;
    right: 20%;
    bottom: 10%;
}

.title {
    position: relative;
}

.title img {
    position: absolute;
    top: 25%;
    right: -7%;
}
    
.author {
    position: absolute;
    left: 43%;
    bottom: -20%;
}


.author p {
    font-family: "Neuve-SBI";
    font-size: 1em;
    text-align: center;
    line-height: 0.8em;
    padding: 4px 12px;
    margin: 2px;
}


#cover {
    position: relative;
    z-index: 1;
}

.cover {
    position: absolute;
}

#cover_1 {
    top: 5%;
    left: 55%;
}

#cover_2 {
    margin-top: 30%;
    left: 20%;
}

#cover_3 {
    margin-top: 40%;
    left: 30%;
}

#cover_4 {
    margin-top: 60%;
    left: 70%;
    margin-bottom: 20%;
}


#nyt {
    display: inline-block;
    width: 30%;
    position: relative;
    margin-top: 1%;
    left: 35%;
    z-index: -1;
}


.subtitle {
    position: relative;
    max-width: 100%;
    margin-top: 25%;
    font-size: 1.5em;
    margin-left: 3px;
    text-align: left;
    text-align-last: left;
}

.subtitle p {
    line-height: 1.2em;
}

.subtitle_1 {
    position: absolute;
    top: -80%;
    left: 3%;
    width: 40%;
    margin-bottom: 20%;
}

.subtitle_2 {
    position: relative;
    width: 40%;
    margin-top: 30%;
    left: 50%;
    margin-bottom: 20%;
}

#h2_100 {
    letter-spacing: 9px;
}

#book {
    display: flex;
    justify-content: center;
    align-items: center;
}

#book_passage {
    max-width: 46%;
    display: inline-block;
    position: relative;
    left: 220px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#layer_1 {
    height: 5%;
    width: 40%;
}

#layer_2 {
    height: 5%;
    width: 40%;
    margin-left: auto;
    align-self: center;
}


